@model IEnumerable<ECommerce.Data.Color>

@{
    ViewData["Title"] = "Color List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <nav class="mt-2" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Colors">Colors</a></li>
        </ol>
    </nav>
    <div class="row offset-4">
        <div class="text-center">
            <a class="card-title mx-3 my-3 btn btn-outline-primary" asp-controller="Colors" asp-action="Create">Create New Color</a>
        </div>

    </div>
    <div class="row">
        @if (Model != null)
        {

            <table class="table  table-bordered">

                <thead class="text-center">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                      
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            
                            <td class="text-center">
                                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="card">
                <h1 class="lead">No Data Available</h1>
            </div>
        }
    </div>
</div>






